---

import BaseLayout from '../layouts/BaseLayout.astro';


// import Navigation from '../components/Navigation.astro';
// import Footer from '../components/Footer.astro';
// import Header from '../components/Header.astro';


import '../styles/global.css';

const pageTitle = "About me";

const identity = {
  firstName: "Brad",
  country: "USA",
  occupation: "web animator",
  hobbies: ["musician", "bicyclist", "cartoonist", "dog walker"],
};

const skills = ["none, none, none", "none", "sleeping"];

// const happy = true;
// const finished = true;
// const goal = 3;
// const h1color = "purple";

---

<!-- <style is:global define:vars={{skillColor, fontWeight, textCase}}>

    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style> -->

<BaseLayout pageTitle={pageTitle}>

<section> 

<img id="jbjself" src="/self_01252024_600x600.jpg" alt="portrait of the author" width="280" height="280" />


<p>

I started out playing music and drawing comics. By the late '90s, I was working for Last Gasp of San Francisco, a publisher and distributor of underground comics, and doing freelance Flash animations on the side. When one of my animated greeting cards won a grand prize in Amazon’s first and only Flash contest, I left Last Gasp to focus on web animation.
</p>


<p>
  
  My comics have been published in such anthologies as BLAB!, Weirdo and Kramers Ergot.
  <!-- I have played bass, keyboard, trombone and concertina in various groups.  -->
  I play guitar in <a href="https://www.virginiadaresf.com">Virginia Dare</a>.

</p>
<p>
Today I live in Ballston Spa, New York with my wife and our dog.
</p>


<!-- 
    <ul>
      <li>My name is {identity.firstName}.</li>
        <li>Some of my hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]}, {identity.hobbies[2]} and {identity.hobbies[3]}.
        </li>
      }
    </ul> -->

    <!-- <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul> 
    -->


  </section>


</BaseLayout>  


