---

import BaseLayout from '../layouts/BaseLayout.astro';


// import Navigation from '../components/Navigation.astro';
// import Footer from '../components/Footer.astro';
// import Header from '../components/Header.astro';


import '../styles/global.css';

const pageTitle = "About me";

const identity = {
  firstName: "Brad",
  country: "USA",
  occupation: "web animator",
  hobbies: ["musician", "bicyclist", "cartoonist", "dog walker"],
};

const skills = ["none, none, none", "none", "sleeping"];

// const happy = true;
// const finished = true;
// const goal = 3;
// const h1color = "purple";

---

<!-- <style is:global define:vars={{skillColor, fontWeight, textCase}}>

    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style> -->

<BaseLayout pageTitle={pageTitle}>

<section>

<img id="jbjself" src="/self_01252024_600x600.jpg" alt="portrait of the author" width="300" height="300" />
<p>After many years in California, I now live with my family in Upstate New York.<br>
I enjoy playing music, drawing, and hiking.<br>
</p>
    <!-- <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I work as a {identity.occupation}.</li>
      <li>After many happy years in San Francisco, I currently live in Ballston Spa, NY.</li>
      {identity.hobbies.length >= 2 &&
        <li>Some of my hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]}, {identity.hobbies[2]} and {identity.hobbies[3]}.</li>
      }
    </ul> -->
<section>

    <!-- <p>I generally spend my time making art that will not be seen, like these <a href="/couples">Couples Drawings</a></p> -->
    <!-- <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul> -->


    



</BaseLayout>  



  </body>
</html>
