---

import '../styles/global.css';

const pageTitle = "Sugar Me";

const identity = {
  firstName: "Brad",
  country: "USA",
  occupation: "web animator",
  hobbies: ["musician", "bicyclist", "drinker"],
};

const skills = ["none, none, none", "none"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";


---


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>

    <!-- <link rel="stylesheet" href="https://github.com/geedix/jbradleyjohnson/blob/master/src/styles/global.css"> -->

<style>
    .skill{
        color:brown;
    }
</style>

    
  </head>
  <body>
    <a href="../">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitle}</h1>
    <h2>I am many things, such as for example, you.</h2>

    <p>I get along with people in general. 
        I have always strived to love everybody. As a child, I learned that this is the way our saviour Jesus Christ did things.</p>

    <p>For work I am currently animating 3D cubes for PwC.</p>
    <p>For pleasure, I mostly play music. </p>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
      {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>




    
  </body>
</html>
