---

import BaseLayout from '../layouts/BaseLayout.astro';


// import Navigation from '../components/Navigation.astro';
// import Footer from '../components/Footer.astro';
// import Header from '../components/Header.astro';


import '../styles/global.css';

const pageTitle = "About me";

const identity = {
  firstName: "Brad",
  country: "USA",
  occupation: "web animator",
  hobbies: ["musician", "bicyclist", "cartoonist", "dog walker"],
};

const skills = ["none, none, none", "none", "sleeping"];

// const happy = true;
// const finished = true;
// const goal = 3;
// const h1color = "purple";

---

<!-- <style is:global define:vars={{skillColor, fontWeight, textCase}}>

    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style> -->

<BaseLayout pageTitle={pageTitle}>

<section class="bio"> 

<img id="jbjself" src="/self_01252024_600x600.jpg" alt="portrait of the author" width="280" height="280" />


<p>

I was raised in Colorado by Wyoming parents. 
I played in bands and worked as a cruise ship musician in the ’80s. 
Later I drew comics and worked at <a href="https://lastgasp.com/" target="_blank">Last Gasp</a>, where I printed invoices, colored comics, and learned about web development. 
Since 2000, I have focussed on making animations for websites. 
I'm married to songwriter and artist <a href="https://www.maryoneiljohnson.com/">Mary O'Neil</a>. Our band is <a href="https://virginiadaresf.com/">Virginia Dare</a>. We live in Ballston Spa NY with our dog Betty.
</p>



<!-- 
    <ul>
      <li>My name is {identity.firstName}.</li>
        <li>Some of my hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]}, {identity.hobbies[2]} and {identity.hobbies[3]}.
        </li>
      }
    </ul> -->

    <!-- <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul> 
    -->


  </section>


</BaseLayout>  


