---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
// const allPosts = Object.values(import.meta.glob('./pages/posts/*.md', { eager: true }));

// import Footer from '../components/Footer.astro';
// import Header from '../components/Header.astro';

// import '../styles/global.css';


const pageTitle = "Hooverville 2025"

---



<BaseLayout pageTitle={pageTitle}>
<section>
    <p>Welcome to my blog! Here are my latest posts:</p>
    <ul>
        <!-- <li><a href="/posts/post-1/">Post 1</a></li>
        <li><a href="/posts/post-2/">Post 2</a></li>
        <li><a href="/posts/post-3/">Post 3</a></li> -->
        <!-- {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->

        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
    <p>
        Why would you do a blog in 2025? The AI bots will copy my content
        but nobody will see it in its original setting.
    </p>

    </section>
    
  </BaseLayout>
